header p {
  position: relative;
  top: 60px;
  left: 60px;
  line-height: 50px;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color: #525252;
  width: 500px;
  font-weight: bolder;
  line-break: 10px;
}

header .container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

header .card {
  background-color: #fff;
  width: 600px;
  height: 700px;
  text-align: center;
  border-radius: 25px;
}

header .card-background {
  position: relative;
  top: 200px;
  background: #686de0;
  height: 300px;
  width: 100%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

header .card-image {
  position: relative;
  bottom: 85px;
  border-radius: 50%;
  width: 175px;
  height: 175px;
  border: 6px solid #fff;
}

header .card-info {
  position: relative;
  top: 25px;
  padding-top: 10px;
  color: black;
}

header .name {
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  color: #fff;
  font-size: 40px;
}

header .site {
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  color: #af8cf5;
  font-size: 30px;
}

main .main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (500px)[3];
      grid-template-columns: repeat(3, 500px);
  -ms-grid-rows: (500px)[3];
      grid-template-rows: repeat(3, 500px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  margin-top: 400px;
  margin-bottom: 50px;
}

main .overlay {
  background-color: black;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

main img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

main .cards {
  position: relative;
}

main .cards .overlay:hover {
  opacity: 1;
}

main .cards .btn {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: black;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px;
  position: absolute;
  top: 50%;
  right: 40%;
}

main a {
  font-size: 15px;
  font-style: normal;
  color: white;
  padding: 15px;
}

section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 0;
  top: 75%;
  -webkit-transform: translate(230px);
          transform: translate(230px);
}

section .blog {
  text-align: left;
  color: white;
  font-weight: normal;
  background-color: #e17b77;
  padding-left: 12px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  width: 260px;
  border-radius: 5px;
  -webkit-transform: translateX;
          transform: translateX;
  -webkit-transition: 1s;
  transition: 1s;
}

section .blog:hover {
  -webkit-transform: translateX(-155px);
          transform: translateX(-155px);
}

section .blog a {
  color: white;
  padding-left: 10px;
}

section .twitter {
  text-align: left;
  color: white;
  font-weight: normal;
  background-color: #00aced;
  padding-left: 12px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  width: 265px;
  border-radius: 5px;
  -webkit-transform: translateX;
          transform: translateX;
  -webkit-transition: 1s;
  transition: 1s;
}

section .twitter:hover {
  -webkit-transform: translateX(-155px);
          transform: translateX(-155px);
}

section .twitter a {
  color: white;
  padding-left: 10px;
}

section .linkedin {
  text-align: left;
  color: white;
  font-weight: normal;
  background-color: #007bb6;
  padding-left: 12px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  width: 265px;
  border-radius: 5px;
  -webkit-transform: translateX;
          transform: translateX;
  -webkit-transition: 1s;
  transition: 1s;
}

section .linkedin:hover {
  -webkit-transform: translateX(-155px);
          transform: translateX(-155px);
}

section .linkedin a {
  color: white;
  padding-left: 10px;
}

section .facebook {
  text-align: left;
  color: white;
  font-weight: normal;
  background-color: #3b5998;
  padding-left: 14px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  width: 265px;
  border-radius: 5px;
  -webkit-transform: translateX;
          transform: translateX;
  -webkit-transition: 1s;
  transition: 1s;
}

section .facebook:hover {
  -webkit-transform: translateX(-155px);
          transform: translateX(-155px);
}

section .facebook a {
  color: white;
  padding-left: 10px;
}

section .github {
  text-align: left;
  color: white;
  font-weight: normal;
  background-color: #333;
  padding-left: 12px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  width: 265px;
  border-radius: 5px;
  -webkit-transform: translateX;
          transform: translateX;
  -webkit-transition: 1s;
  transition: 1s;
}

section .github:hover {
  -webkit-transform: translateX(-155px);
          transform: translateX(-155px);
}

section .github a {
  color: white;
  padding-left: 10px;
}

section .blog::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f5fc";
  color: white;
  background-color: #e17b77;
}

section .twitter::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "\f099";
  color: white;
  background-color: #00aced;
}

section .linkedin::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "\f0e1";
  color: white;
  background-color: #007bb6;
}

section .facebook::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "\f39e";
  color: white;
  background-color: #3b5998;
}

section .github::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "\f09b";
  color: white;
  background-color: #333;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #c3cfe2;
  color: #fff;
}

@media (min-width: 480px) {
  .main {
    -ms-grid-columns: (500px)[1];
        grid-template-columns: repeat(1, 500px);
  }
}

@media (min-width: 768px) {
  .main {
    -ms-grid-columns: (500px)[2];
        grid-template-columns: repeat(2, 500px);
  }
}

@media (min-width: 992px) {
  .main {
    -ms-grid-columns: (500px)[3];
        grid-template-columns: repeat(3, 500px);
  }
}
/*# sourceMappingURL=styles.css.map */